body{
}

/**

  Icons:
    - Linecons Free – Vector Icons Pack: http://www.iconfinder.com/iconsets/linecons-free-vector-icons-pack
    - Super Mono Basic: http://www.iconfinder.com/iconsets/super-mono-basic

**/

#header {
  padding:30px 0 0;
}

#header h1 {
  color: #F00;
  font-size: 4em;
  margin: 0;
}

#header h2 {
  color: #000080;
  font-size: 1.8em;
  line-height: 1.2em;
  margin-bottom: 50px;
}

#details {
  background-color: rgba(0, 0, 0, 0.05);
  padding:25px 0;
}
#details #date {
  background: url('../images/calendar.png') left center no-repeat;
  color: #666;
  padding: 5px 0 5px 35px;
  font-size: 20px;
}

#details #location {
  background: url('../images/marker.png') left center no-repeat;
  color: #666;
  padding: 5px 0px 5px 32px;
  font-size: 20px;
}

#benefits {
  padding:30px 0 0;
}

.benefit {
  background-position: 50% top;
  background-repeat: no-repeat;
  padding:70px 20px 0px 20px;
}

.benefit h3 {
  font-size: 1.2em;
}

.benefit p {
  color: #999;
}

#learn-fast {
  background-image: url('../images/benefit-1.png');
}
#real-app {
  background-image: url('../images/benefit-2.png');
}
#ask-questions {
  background-image: url('../images/benefit-3.png');
}

#apply {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 0;
}

#apply .button {
  margin-bottom: 0;
}  
